

body {
  font-family: "Open Sans", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color:#E5EFEE;
}

/* ==========================================================================
   #SPACING
   ========================================================================== */


.p-t-45 {
  padding-top: 80px;
}

.p-b-50 {
  padding-bottom: 80px;
}


/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
  margin: 0 auto;
}

.wrapper--w790 {
  max-width: 495px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
  width: 30%;
  height: 12%;
  margin-top: 20px;
 
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-family: inherit;
}
 
.btn--red {
  background: #891C35;
}

.btn--red:hover {
  background: #891C35;
}



/* ==========================================================================
   #FORM
   ========================================================================== */
input {
height: 80%;
border-radius: 10px;
font-size: 2em;
margin-top: 30px;
border-color: black;
right: 10%;
}
button {
  outline: none;
  background: none;
  border: none;
}


h2 {
  font-size: 30px;
}



/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #black;
}

/* ==========================================================================
   #CARD
   ========================================================================== */

.card-5 {
  background: #B3E4F8;
  border-radius: 10px;
  border-color: #0B0B0C;

}

.card-5 .card-heading {
  padding: 10px 0;
  background: #a51c30;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-5 .card-body {
  padding: 30px 30px;
  padding-bottom: 50px;
}