<div class="row">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner contenidoc">
			<div class="carousel-item active">
				<img src="./images/1C.png" class="img-fluid imgc">
				<div class="leyenda">
					<br>
					<h2><b>Comunidad educativa</b></h2>
					<h4><b>Nuestro Proyecto Educativo,creación de<br>
					todos,apunta a la excelencia</b></h4><br>
					<a class="btn btn-lg btn-primary botonc" href="#" role="button">Boton</a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="./images/2C.png" class="img-fluid">
				<div class="leyendab">
					<br>
					<h2><b>Comunidad educativa</b></h2>
					<h4><b>Nuestro Proyecto Educativo,creación de<br>
					todos,apunta a la excelencia</b></h4><br>
					<a class="btn btn-lg btn-primary botonc" href="#" role="button">Boton</a>
				</div>
			</div>
			<div class="carousel-item">
				<img src="./images/3C.png" class="img-fluid">
				<div class="carousel-caption">
					<br>
					<h2><b>Comunidad educativa</b></h2>
					<h4><b>Nuestro Proyecto Educativo,creación de<br>
					todos,apunta a la excelencia</b></h4><br>
					<a class="btn btn-lg btn-primary botonc" href="#" role="button">Boton</a>
				</div>
			</div>
		</div>
		<!-- Controles de carrucel botones -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="icon-prev" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="icon-next" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<a class="carousel-control-prev" href="#carousel-example-generic" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#carousel-example-generic" data-slide="next">
			<span class="carousel-control-next-icon"></span>
			
		</a>
		
		<!-- Fin Controles de carrucel botones -->
	</div>
</div>