<div class="row">
	<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
		</ol>
		<div class="carousel-inner contenidoc">
			<div class="carousel-item active">
				<img src="./images/3C.png" class="img-fluid">
				<div class="leyendab2 leyend-mobile">
					<br>
					<h2>Comunidad Educativa</h2>
					<h5>Construyendo un futuro brillante y felíz</h5>
					<a class="btn btn-carou" href="comunidad-educativa.php" role="button">Leer Más</a>
				</div>
			</div>
			<div class="carousel-item ">
				<img src="./images/1C.png" class="img-fluid imgc">
				<div class="leyenda leyend-mobile">
					<br>
					<h2><b>Ciencia</b></h2>
					<h5>Una enseñanza basada en los experimentos.</h5><br>
					<a class="btn btn-carou" href="bachiller-en-ciencias.php" role="button">Leer Más</a>
				</div>
			</div>
			<div class="carousel-item ">
				<img src="./images/2C.png" class="img-fluid imgc">
				<div class="leyenda leyend-mobile">
					<br>
					<h2><b>¡Lombardinos por siempre!</b></h2><br>
					<a class="btn btn-carou" href="#" role="button">Leer Más</a>
				</div>
			</div>
			<div class="carousel-item ">
				<img src="./images/carrou-piedad.jpg" class="img-fluid imgc">
				<div class="leyenda leyend-mobile">
					<br>
					<h2><b>Piedad</b></h2>
					<h5>Transformadores de la sociedad mediante valores. </h5><br>
					<a class="btn btn-carou" href="pastoral-juvenil.php" role="button">Leer Más</a>
				</div>
			</div>
			<div class="carousel-item ">
				<img src="./images/carrou-disciplina.jpg" class="img-fluid imgc">
				<div class="leyenda leyend-mobile">
					<br>
					<h2><b>Disciplina</b></h2><br>
					<h5>Constribuyendo a la formación de nuevos jóvenes</h5><br>
					<a class="btn btn-carou" href="#" role="button">Leer Más</a>
				</div>
			</div>
		</div>
		<!-- Controles de carrucel botones -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="icon-prev" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="icon-next" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<a class="carousel-control-prev" href="#carousel-example-generic" data-slide="prev">
			<span class="carousel-control-prev-icon"></span>
		</a>
		<a class="carousel-control-next" href="#carousel-example-generic" data-slide="next">
			<span class="carousel-control-next-icon"></span>
			
		</a>
		
		<!-- Fin Controles de carrucel botones -->
	</div>
</div>