<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  mt-3">
  <div class="card h-100">
    <h3 class="card-header fondo_titulo_creadores">Contacto</h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><i class="fas fa-phone-alt"></i> Teléfono: 983-8226</li>
      <li class="list-group-item"><i class="far fa-envelope"></i> Correo: carmenconte23@yahoo.com</li>
      <li class="list-group-item"><i class="fab fa-instagram"></i> Instagram: @instcarmenconte</li>
      <li class="list-group-item"><i class="fab fa-facebook-f"></i> Facebook: Carmen Conte Lombardo</li>
      <li class="list-group-item">
        <a data-toggle="modal" href="#Enviar" class="btn btn-success">Enviar Correo</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mt-3">  
  <div class="card">
    <h3 class="card-header fondo_titulo_creadores">Ubicación</h3>
    <div class="card-block">
      <iframe class="col-xs-12 col-sm-12 col-md-12 col-lg-12 p-0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15780.82089965483!2d-80.2731058!3d8.5762565!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe88d68394ae09626!2sInstituto%20Carmen%20Conte%20Lombardo!5e0!3m2!1ses-419!2spa!4v1569814139024!5m2!1ses-419!2spa" width="525" height="670" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    
  </div>
</div>


<br>
<!---------------------------inicio de Ventana Emergente contacto--------------------------------->
<div class="modal fade" id="Enviar" data-toggle="modal" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--Inicio Header de la ventana emergente -->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Contáctanos</h4>
        <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <!--Fin Header de la ventana emergente -->
      <!--Inicio Contenido  de la ventana emergente-->
      <div class="modal-body">
        <form action="Enviar.php" method="POST" role="form">
          
          <!----------------------------------------Nombre---------------------------------------->
          <div class="form-group">
            <label for="">Nombre:</label>
            <input type="text" class="form-control" id="firstname" name="firstname"  placeholder="Ingrese su nombre" pattern="[A-Za-záéíóúñÁÉÍÓÚÑ ]+" required="" >
          </div>
          <!---------------------------------------------------------------------------------------->
          
          <!---------------------------------------Apellido----------------------------------------->
          <div class="form-group">
            <label for="">Apellido:</label>
            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Ingrese su apellido" pattern="[A-Za-záéíóúñÁÉÍÓÚÑ ]+" required ="">
          </div>
          <!---------------------------------------------------------------------------------------->
          <!---------------------------------------Correo----------------------------------------->
          <div class="form-group">
            <label for="">Correo:</label>
            <input type="text" class="form-control" id="correo" name="correo" placeholder="Escriba su correo" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required >
          </div>
          <!---------------------------------------------------------------------------------------->
          <!--------------------------------------Telefono---------------------------------------->
          <div class="form-group">
            <label for="">Teléfono:</label>
            <input type="text" class="form-control" id="phone"  name="phone"placeholder="Escriba su teléfono" pattern="[0-9]{3-4}[-]{1}[0-9]{4}"  required ="">
          </div>
          <!---------------------------------------------------------------------------------------->
          <!--------------------------------------Comentario---------------------------------------->
          <div class="form-group">
            <label for="">Comentarios o sugerencias:</label>
            <textarea name="comentario" id="comentario" name="comentario" class="form-control" rows="3" required =""placeholder="Escriba su comentario"></textarea>
          </div>
          <!---------------------------------------------------------------------------------------->
          <button type="submit" name="submit"class="btn btn-primary" value="enviar">Enviar</button>
          <button type="reset" class="btn btn-danger" id="clean">Limpiar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </form>
      </div>
      <!--------------Fin del Contenido  de la ventana emergente----------------------------------->
      <!---Inicio Footer Modal-->
      <div class="modal-footer">
        
      </div>
      <!--Fin de  Footer Modal-->
      
    </div>
  </div>
</div>
<!---------------------------fin de Ventana Emergente contacto--------------------------------->