<!-- SECTION -->
<br>
    <section>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card border-danger mb-3">
                    <h5 class="card-header">
                        Proyecto Educativo
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            El Proyecto Educativo de Centros (PEC) es el camino pedagógico y administrativo del Instituto Carmen Conte que se proyecta llevar a cabo durante los próximos cuatro (4) años.
El mismo lo hemos realizado los miembros de la Comunidad Educativa, teniendo en cuenta el PEC (Proyecto Educativo de Centro) que ha orientado la Institución los últimos años y el PIMCE (Programa Integral de Mejoramiento del Centro Educativo). El mismo tiene como marco general la Ley Orgánica de Educación, los lineamientos de la Diócesis de Penonomé, los Principios de la Iglesia Católica y la Pedagogía de Marie Poussepin, fundadora de las Hermanas Dominicas de la Presentación.
                        </p>
                        <p class="card-text">
                            Este PEC se asume como un proceso de reflexión permanente, participativa y colectiva de experiencia humana y académica de todos los miembros de la comunidad educativa, sobre los fundamentos que orientan y dan sentido al quehacer de nuestra Institución educativa de paso con los avances técnico científico del mundo de hoy.  En éste se reconstruye, se recrea y sistematiza la historia de nuestra institución y se encuentra una alternativa para incrementar el desarrollo que nos motiva a comprometernos de forma integral.
                        </p>
                        <p class="card-text">
                            Nuestra Institución, creada por inquietud de la Iglesia panameña, asume el Proyecto Educativo de la escuela católica en donde los principios evangélicos se convierten en normas educativas para el bien de todo el personal que convive en ella.  De esta manera, adquirimos conciencia de nuestro empeño por promover a la persona de manera integral, mediante el cultivo de los valores, que elevan y ennoblecen al hombre.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="header-content-right">
                    <img alt="" class="img-fluid" src="images/textos-proyecto-educativo.png">
                    </img>
                </div>
            </div>
        </div>
    </section>
    <br>
        <section>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <img alt="" class="img-fluid" src="images/estudiantes-proyecto-educativo.jpg">
                    </img>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="card border-danger mb-3">
                        <div class="card-body">
                            <p class="card-text">
                                Por lo anterior, sentimos la necesidad de asegurar que el Proyecto Educativo y el Evangelio permeabilice toda la vida de todos los agentes que allí comparten el quehacer educativo y vigilar para que las tareas: académico-pedagógica, pastoral y gerencial lleguen a armonizarse hasta que sean expresión de la calidad del servicio que ofrecemos.
                            </p>
                            <p class="card-text">
                                Por nuestra tendencia a la formación integral de la persona, (Ley orgánica de educación artículo 1b) somos conscientes de que nuestro Proyecto Educativo, además de atender a la parte de infraestructura, fundamentalmente se centra en la atención, formación y evangelización de los estudiantes.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
        <br>
        <section>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card border-danger mb-3">
                        <img alt="..." class="card-img-top" src="images/img-comunidad_educativa/mision-title-comuedu.png"></img>
                            <div class="card-body">
                                <p class="card-text">
                                    Contribuir al crecimiento integral de la persona, ofreciendo una formación académica y en valores; que permita el pleno desarrollo de la comunidad educativa, iluminados por la doctrina católica, la pedagogía de Marie Poussepin y los lineamientos  del MEDUCA.
                                </p>
                            </div>
                        
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card border-danger mb-3">
                        <img alt="..." class="card-img-top" src="images/img-comunidad_educativa/vision-title-comuedu.png"></img>
                            <div class="card-body">
                                <p class="card-text">
                                    Que el joven llegue a ser agente de cambio en la sociedad e impulse la armonía social, reconciliador permanente; un hombre humano con capacidad de amar la vida como don de Dios.
                                </p>
                            </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </br>
</br>