


<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <center>
    <h1>Conoce nuestra historia</h1>
  </center>
  </div>
</div>



<div class="row fondo">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<!-- Swiper -->
  <div class="swiper-container ">
    <div class="swiper-wrapper">



<!--------------------------------------SWIPER 1--------------------------------------------------->
      <div class="swiper-slide ">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>1955</h1>     
                 </center>  
          </div>
           <div class="content">          
              <p>En 1955 se celebra en Panamá en III Congreso Católico de la Vida Rural, donde nace la idea de crear escuelas para adolescentes campesinas con el fin de promover la formación de dirigentes, que contribuyeran a elevar el nivel de vida en las áreas rurales.
Observando la experiencia vivida en Méjico, se le expusieron a Monseñor Francisco Beckman la posibilidad de fundar en Panamá este tipo de escuela quien autorizó al Comité Directivo de la Juventud Católica de Penonomé realizar gestiones 
al respecto.</p>        
          </div>    
        </div>
      

<!-----------------------------------------SWIPER 2------------------------------------------------------->

<div class="swiper-slide ">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>1970</h1>     
                 </center>  
          </div>
           <div class="content">          
             <p>El 7 de abril de 1970, la Viceministra Nidia de Quintero autorizó a las Madres Esclavas del Sagrado Corazón para abrir el proceso de matrícula en la escuela de Churuquita Chiquita de Penonomé.</p>
      <p>El 10 de abril el licenciado Jorge I. Conte, sugiere a la Directora Madre Josefa Labal, iniciar las labores correspondientes a la apertura del Curso del año lectivo y firma el Contrato entre el Patronato y las religiosas.</p>
  
          </div>    
        </div>

<div class="swiper-slide ">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>1970</h1>     
                 </center>  
          </div>
           <div class="content">          
          <p>El 23 de abril de 1970 mediante Decreto de Gabinete N°93 se crea y se organiza el Instituto de Educación Rural, INSTER.</p>
      <p>El 4 de mayo de 1970 se inician las actividades en el Instituto de Educación Rural, con 56 alumnas, 30 internas, 26 externas. Tenían entre 12 y 20 años y una de 25.</p>
  
          </div>    
        </div>

<div class="swiper-slide ">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>1970</h1>     
                 </center>  
          </div>
           <div class="content">          
        <p>El 3 de julio de 1970 el Concejo Municipal de Penonomé solicita a la Junta Provisional de Gobierno. Al Ministerio de Educación y al Patronato que se designe al Instituto Rural con el nombre de Carmen Conte Lombardo.</p>

      <p>El 11 de julio de 1970 se inaugura el Instituto Rural, se bendice el edificio y se instala la directiva. </p>
      <p>El 12  de agosto de 1970 la Junta Provisional de Gobierno da el nombre Carmen Conte Lombardo al Instituto.</p>
  
          </div>    
        </div>


<!------------------------------------SWIPER 3------------------------------------------->
       
<div class="swiper-slide">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>1974-1977-1998</h1>     
                 </center>  
          </div>
           <div class="content">          
      
      <p>En 1974 se organizó el Primer Ciclo, manteniendo el Proyecto Agropecuario y de Educación para el Hogar.</p>

  <p>En 1977 el Instituto pasa a ser mixto, dándoles oportunidad a nuestros  jóvenes del campo a incorporarse a esta gran familia.</p>
  <p>En 1988 se cierra el internado por problemas económicos.</p>
          </div>    
        </div>


    <!------------------------------------SWIPER  salto elimino 2------------------------------------------->


<div class="swiper-slide">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>1990</h1>     
                 </center>  
          </div>
           <div class="content">          
    
      <p>En febrero de 1990 se inician las gestiones ante la Comunidad de las Hermanas Dominicas de la Presentación para hacerse cargo del Instituto. Estas gestiones son realizadas por el Monseñor McGrath y el padre Fernando Guardia (q.e.d.p.) y el Comité de Apoyo.</p>
      <p>El 18 de marzo de 1990 se despiden a las Religiosas Esclavas del Sagrado Corazón, después de 20 años de ardua labor educativa.</p>
          </div>    
        </div>


<div class="swiper-slide">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>1990</h1>     
                 </center>  
          </div>
           <div class="content">          
    
      <p>El 20 de marzo de 1990, se encarga de la Dirección el profesor Osvaldo Rodríguez y la profesora Magdaly de Rodríguez, como subdirectora.</p>
      <p>El 3 de septiembre de 1990 las Hermanas Celia Solís Vega y Gertrudis Viña de la Hoz, de la Congregación “Hermanas de la Caridad Dominicas de la Presentación de la Santísima Virgen” llegan a Churuquita Chiquita, en calidad de observadoras.</p>
          </div>    
        </div>


<!------------------------------------SWIPER 7------------------------------------------->


<div class="swiper-slide">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>1991</h1>     
                 </center>  
          </div>
           <div class="content">          

      <p>El 16 de julio de 1991, es nombrada la Hermana Gertrudis Viñas de la Hoz, como Directora del Instituto. Destacando su gran amor a la naturaleza, hoy se designa a la Reserva Forestal del Instituto. “Reserva Forestal Viña de la Hoz” A solicitud de la Congregación se implementa en el Plan de Estudio una (1) hora  de Educación en Valores, el Cultivo de Valores en la Comunidad Escolar fue uno de sus grandes  logros. </p>
    </div>
          </div> 


    



<!------------------------------------SWIPER 8------------------------------------------->


<div class="swiper-slide">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>1998-2001</h1>     
                 </center>  
          </div>
           <div class="content">          

       <p>El 20 de enero de 1998 llega a la dirección del Instituto la Hna. Leonor González y durante su administración, el 18 de enero de 2001, se le comunica por parte de la 
Dirección Regional del Ministerio de Educación, la aceptación de la apertura del Segundo Ciclo “Bachillerato en Ciencias  con énfasis en Saneamiento y Salud Ambiental.<br>
La matrícula alcanza a 62 estudiantes para iniciar IV año, con grandes limitaciones de estructura física, mobiliario, falta de recursos para desarrollar las labores con normalidad, nombramiento tardío de algunos docentes, escases de personal administrativo.
</p>
    </div>
          </div>    


<!------------------------------------swiper 9---------------------------------------->
<div class="swiper-slide">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>2002-2003-2009</h1>     
                 </center>  
          </div>
           <div class="content">          

      <p>En febrero de 2002, se encarga de la dirección del Colegio la Hna. Gloria Luz Villegas, por el traslado de la Hna. Leonor González a la ciudad de Medellín.</p>

      <p>En 2003 es nombrada la Hna. Mariela del Carmen Calderón, como directora del Colegio, siendo la primera hermana Dominica de la Presentación panameña en dirigir este Centro educativo.</p>

      <p>
El 2 de febrero de 2009, llega como directora la Hna. Donatila González Gómez, también panameña, pero de la provincia de Chiriquí.
</p>
    </div>
          </div>    


<!------------------------------------swiper 10---------------------------------------->
<div class="swiper-slide">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>2010</h1>     
                 </center>  
          </div>
           <div class="content">          
      <p>
El inicio del año escolar 2010 marca una etapa importante para la educación nacional con el lanzamiento de la Transformación curricular, que buscaba mejorar la educación panameña a través de cambios significativos. Para ello el MEDUCA escoge a 63 colegios a nivel nacional, siendo el Carmen Conte Lombardo uno de estos. Este programa trajo muchos beneficios, así como compromisos y retos para la administración, para los docentes, estudiantes y padres de familia.<br>

Un primer reto, ofrecer otra opción de estudio a los estudiantes, ya que muchos de ellos tenían serias dificultades en el área científica, pero por diversas razones permanecían en la Institución. <br></p>
    </div>
          </div>    


<div class="swiper-slide">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>2010</h1>     
                 </center>  
          </div>
           <div class="content">          
      <p>

Así que, después de un discernimiento, se decide abrir el bachillerato en Turismo, con 58 estudiantes, en dos grupos.<br>

El Instituto ha dado pasos importantes que incluso han servido como punto de referencia para la toma de decisiones que transformarán la educación nacional. Inicio  la experiencia de trabajar por Trimestre, durante el 2010; Se elaboró y se le presentó al MEDUCA un plan de mejoramiento académico que incluía cursos de verano para los estudiantes que habían reprobado algunas materia y para los estudiantes de primer ingreso con el fin de nivelarlos antes del inicio del calendario regular de clases. El estudiante reprueba alguna materia, debería repetir el año completo. Esto ayudó a mejorar el rendimiento académico de los estudiantes y a disminuir el porcentaje de reprobados al finalizar cada año.<br></p>

    </div>
          </div>  



<div class="swiper-slide">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>2010</h1>     
                 </center>  
          </div>
           <div class="content">          
      <p>


El instituto Carmen Lombardo cuenta con suficientes y cómodas instalaciones para seguir atendiendo la población estudiantil que busca una excelente formación académica, fundamentada en los valores humanos y cristianos, ya que este año se construyó el laboratorio de lenguas y un nuevo pabellón, se dos plantas que cuenta con 5 aulas regulares y un laboratorio.<br></p>

    </div>
          </div> 



<!------------------------------swiper 11-------------------------------------------->


<div class="swiper-slide">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>2012-2013</h1>     
                 </center>  
          </div>
           <div class="content">          
      <p>

En el 2012, por organización en la congregación, las hermanas Dominicas entregan la Institución educativa a la Diócesis.
</p>
  <p>
En el año 2013, Monseñor Urías  Ashley, Obispo de la Diócesis de Penonomé, designa al presbítero diocesano  José Domingo Rodríguez Martínez como gerente educativo del Instituto.

Durante la administración mantiene los lineamientos de la anterior Congregación, siempre en busca del bienestar social de toda la comunidad educativa y la formación humana académica del estudiante.

</p>

    </div>
          </div> 



<!------------------------------swiper 12-------------------------------------------->


<div class="swiper-slide">
            <!-- 1995 -->
          <div class="logo">
            <center>
                 <h1>2014-2015</h1>     
                 </center>  
          </div>
           <div class="content">          
       <p>
En el año 2014 asume la subdirección del plantel educativo el Presbítero Seberiano Vargas..
</p>
    <p>
En 2015 se renueva el convenio Iglesia-MEDUCA, reafirmando algunos puntos desde su convenio original e integrando nuevas estrategias en el proceso educativo.

El 23 de octubre de 2015 se firma el convenio entre Diócesis de Penonomé y Congregación de las Hermanas Dominicas de la Presentación para que ellas asuman nuevamente la dirección del Instituto, a partir del 9 de Enero de 2016, con las hermanas: Donatila González G, directora; Sor Beatriz Marín, coordinadora académica y Clenese Honoréz, como docente.

</p>



    </div>
          </div> 




<!------------------fin swiper.......................------------------------->
        </div>


    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>

 
	</div>
</div>




<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <hr>
  </div>
</div>



</div>










<!-- Swiper JS -->
  <script src="js/swiper.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>