﻿<div class="col-xs-12 col-sm-12 col-md-4" >
	<ul class="footer_ul">
		<li class="col-titulo">Contáctanos</li>
		<li class="text-white">
			<i class="fas fa-phone-alt icon-separacion" aria-hidden="true"></i>983-8226
		</li><br>
		<li class="text-white">
			<i class="far fa-envelope icon-separacion" aria-hidden="true"></i>carmenconte23@yahoo.com
		</li>
	</ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-4" >
	<ul class="footer_ul">
		<li class="col-titulo">Redes Sociales</li>
		<li>
			<a href="https://www.facebook.com/pg/Instituto.Carmen.Conte.Lombardo/" target="_blank"><i id="icon-separacion"class="fab fa-facebook-f icon-separacion" aria-hidden="true"></i>Facebook</a>
		</li><br>
		<li>
			<a  id="instagram-color" href="https://www.instagram.com/instcarmencontel/" target="_blank"><i id="icon-separacion" class="fab fa-instagram icon-separacion" aria-hidden="true"></i>Instagram</a>
		</li>
	</ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-4" >
	<ul class="footer_ul">
		<li class="col-titulo">Sito Web</li>
		<li>
			<a  id="creadores-color" href="creadores-sitio.php"><i class="fas fa-users icon-separacion" aria-hidden="true"></i>Creadores del sitio</a>
		</li>
	</ul>
</div>