<div class="row  p-3">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 py-5 ">
		<div class="text-center">
			<img src="images/photo_mensaje.png" class="img-fluid photo_welcome " alt="Responsive image">
			<h4 class="pt-2"><b>Hna. Donatila González</b></h4>
			<h5><em>Directora del Instituto Carmen Conte Lombardo</em></h5>
		</div>
		
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
		<div class="container text-welcome-size">
				<p>Con mucha alegría y esperanza llego todos a todos ustedes, miembros de la Comunidad Educativa del Instituto Carmen Conte Lombardo, y a quienes entrarán en contacto con nosotros a través de este medio.
				</p>
				<p>Todos estamos comprometidos con la formación integral de la juventud; de tal manera que al finalizar sus años de estudios, en este centro Educativo, ellos sean capaces de ser agentes de cambio en la sociedad, no tanto por su palabra, sino por el ejemplo de su vida cimentada en los valores humanos y cristianos con la cual han de marcar la diferencia. </p>
				<p>Conservar la presencia de Dios en todas las acciones, como lo hemos aprendido de Marié Poussepin, fundadora de nuestra Congregación: Hnas. Dominicas de la Presentación, será fundamental para lograr cualquier meta en la vida, pues “con Dios Somos invencible”, como nos dice monseñor Rómulo Emiliani, y así lo he experimentado; por eso, quiero invitarles a caminar de la mano de Dios y a encomendar a El todos los proyectos que emprendan para que lleguen a buen fin.</p>
		</div>
		
	</div>
</div>