<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 py-4 bg-pr">
    <a href="index.php"><img src="images/header_logo.png" id="fix_logotop" class="img-fluid mx-auto d-block "></a>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="fix_menu_top">
    <nav class="navbar navbar-light navbar-expand-lg mainmenu">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> 
    <span class="navbar-toggler-icon"></span> 
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" id="navar-center">
                <li class="active"><a href="index.php">Inicio<span class="sr-only">(current)</span></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">¿Quienes Somos?</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a href="historia.php">Historia</a></li>
                        <li><a href="proyectoeducativo.php">Proyecto Educativo</a></li>
                        <li><a href="manual_convivencia.php">Manual de Convivencia</a></li>
                        <li><a href="comunidad-educativa.php">Comunidad Educativa</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Oferta Académica</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a href="basica-general.php">Básica General</a></li>
                        <li><a href="bachiller-en-ciencias.php">Bachiller en Ciencias</a></li>
                        <li><a href="bachiller-en-turismo.php">Bachiller en Turismo</a></li>
                        <li><a href="validar_codigo.php">Pre Inscripción</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proyecto y programas</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a href="agro-ecologico.php">Agro-ecológico</a></li>
                        <li><a href="educacion-exito-seguro.php">Educación, éxito seguro</a></li>
                        <li><a href="pastoral-juvenil.php">Pastoral Juvenil</a></li>
                        <li><a href="jeept.php">JEEPT</a></li>
                        <li><a href="curso-de-nivelacion.php">Curso de nivelación</a></li>
                        <li><a href="verano_musical.php">Verano Musical</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fechas memorables</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li><a href="aniversario.php">Aniversario</a></li>
                        <li><a href="septiembre8.php">8 de septiembre</a></li>
                        <li><a href="entrega_simbolos.php">Entrega de Símbolos</a></li>
                        <li><a href="retiro_graduandos.php">Retiro de graduandos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actualidad Lombardina</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a href="#">Noticias</a></li>
                        <li><a href="#">Nuestros egresados hablan</a></li>
                    </ul>
                </li>
                <li><a href="contacto.php">Contáctanos</a></li>
            </ul>
        </div>
    </nav>
</div>