<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
		<br>
		<img src="images\img-verano-musical\verano-musical-a.jpg" alt="" class="img-fluid">
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
		<br>
		<h5>Verano musical, un campamento realizado con el fin de promover la cultura en los estudiantes, afianzando y desarrollando nuevas destrezas y conocimientos que le servirán a lo largo del año.<br><br> El seminario está a cargo de profesores del más alto nivel como los son:<br> Magister Jorge Ortega, Mag. Wiward Guerra; Maryorie Moreno, Amado Cárdenas, Jonathan Ayala, Jonathan Martínez, Raimundo Ruíz, Alfonso Pérez, Cristian Ríos, Mag. Carmen Rodríguez, Carlos Camargo y José Velásquez, los cuales tienen como propósito primordial compartir sus experiencias, métodos, técnicas que ayuden al progreso del grupo.</h5>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<hr>
	</div>
</div>

<div class="row fila_color">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
		<br><br><br>
<img src="images\img-verano-musical\verano-musical-b.png" alt="" class="img-fluid" 
style="border-radius:10%">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 my-auto">
		<br>
		<p><b>Entre los objetivos que se tienen están:</b></p>
		<p>
		•	Hacer que los participantes practiquen la disciplina, solidaridad, respeto y responsabilidad, valores fundamentales para una excelente integración social. </p>
		<p>
		•	Llevar a cabo diversos ejercicios de rutina, sobre todo la técnica de leer y dar el valor adecuado a los signos musicales de una partitura.</p>
		<p>
        •	El verano musical lleva varios años inculcando y reforzando de generación en generación estos objetivos, para que muchos de sus miembros obtengan la capacidad de poder desenvolverse en sus secciones y lograr un mejor ensamble grupal.</p>
        <p>
	    •	La gran mayoría de los integrantes participan en el seminario, ya que es uno de los requisitos obligatorios para formar parte de la Banda,</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<hr>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">		
			<div class="thumbnail">
				<img src="images\img-verano-musical\verano-musical-c.png" alt="" class="img-fluid" >
				<div class="caption">
					
					<p>
						El verano musical es muy bien acogido por parte de los miembros ya que saben que es una oportunidad para ellos de aprender acerca de lo que les gusta.
					</p>
				</div>		
			</div>		
	</div>

	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">		
			<div class="thumbnail">
				<img src="images\img-verano-musical\verano-musical-c.jpg" alt="" class="img-fluid" >

				<div class="caption">
					
					<p>
						El que se cansa, pierde!
					</p>
				</div>		
			</div>		
	</div>


</div>