
<br>
<!--------------------------Inicio fila 1------------------------------------------------------------->
<!---contiene las primeras imagenes que se muestran en la pagina---------->
<div class="row">

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><!---columna 1---->
	<center><!-----Imagen 1----------------->				
			<img src="images/img-agroecologico/agroecologico-patos.jpg" class="img-fluid imagecirc">
			<!------leyenda de imagen 1---------->
			<figcaption class="figure-caption"><H5>Cría de patos criollos</H5> </figcaption>
				
	</center>
</div>

<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><!----columna 2------>
	<center> <!-----Imagen 2-----------------> 
			<img src="images/img-agroecologico/a-agroecologico-3.jpg" class="img-fluid imagecirc">
			<!------leyenda de imagen 2---------->		
			<figcaption class="figure-caption"><H5>Cría de pollos de engorde y gallinas ponedoras</H5></figcaption>
		</center>
	
</div>


<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><!----columna 3---------->
	<center><!-----Imagen 3-----------------> 
			<img src="images/img-agroecologico/a-agroecologico-2.jpg" class="img-fluid imagecirc">
			<!------leyenda de imagen 3---------->	
			<figcaption class="figure-caption"><H5>Producción de cerdos</H5></figcaption>		
		</center>
</div>


</div><!------------------------Finaliza fila 1------------------------------->

<hr><!-------------------------------linea de color rojo------------------------->

<!-------------------------------Inicio fila 2------------------------->
<div class="row fila_color">
<br>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 my-auto"><!----------contenido---------->
	       <br>
		<p>Por las características socio-económicas y por la posición geográfica del Instituto Carmen Conte Lombardo, que recibe en sus aulas a estudiantes de áreas de difícil acceso, es necesario darles a estos estudiantes una respuesta a la necesidad de alimentación, para la cual funciona el comedor escolar, aportando un almuerzo balanceado a toda la comunidad educativa en general.</p>

		<p>Por tal razón, se desarrollan proyectos agropecuarios que fortalecen el proceso enseñanza-aprendizaje en el aula de tecnología agropecuaria, de manera directa, y en el área de familia y desarrollo comunitario, comercio y turismo, de manera indirecta.</p>
		<p>Esto es así, porque los proyectos son, en primera instancia, didácticos. Por lo tanto, deben ser planeados y ejecutados dentro del marco de la sostenibilidad alimentaria y económica.</p>	

		<p>Se reconoce la incidencia de los proyectos mencionados en la formación integral de los estudiantes y en la formación práctica de docentes, colaboradores y la comunidad aledaña.</p>

		<p>Los proyectos que tradicionalmente se han desarrollado en la institución son: cría de pollos de engorde y gallinas ponedoras; cría de patos criollos y pequineses, codornices,  proyecto porcino;  pronto se  iniciará   el proyecto de piscicultura.</p>

	</div><!---------------------fin contenido----------------->


	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6"><!-------inicia columna de corouseles-------->
		<br>
            <center>
            	<!---------------------inicia carousel 1------------------>
	       		<div id="myCarousel" class="carousel slide mb-3" data-ride="carousel">
	       			<ol class="carousel-indicators">
	       				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	       				<li data-target="#myCarousel" data-slide-to="1"></li>
	       				<li data-target="#myCarousel" data-slide-to="2"></li>
	       			</ol>
	       			<div class="carousel-inner ">
	       				<div class="carousel-item active">
	       					<img src="images/img-agroecologico/agroecologico-6.jpg" class="img-fluid">
	       					<div class="container">
	       					<div class="carousel-caption d-none d-md-block text-left fondoeditminicarrucel">
	       							<center>
	       							<h5>Proyectos de hortalizas</h5>   
	       							</center>    							
	       						</div>
	       					</div>
	       				</div>	
	       				<div class="carousel-item">
	       					<img src="images/img-agroecologico/agroecologico-tomate.jpg" class="img-fluid">
	       					<div class="container">
	       						<div class="carousel-caption d-none d-md-block text-left fondoeditminicarrucel">
	       							<center>
	       							<h5>Cosecha de tomates</h5> 
	       							</center>      							
	       						</div>
	       					</div>
	       				</div>
	       				<div class="carousel-item">
	       					<img src="images/img-agroecologico/agroecologico-7.jpg" class="img-fluid">
	       					<div class="container">
	       						<div class="carousel-caption d-none d-md-block text-left fondoeditminicarrucel">
	       							<center>
	       							<h5>Proyectos de hortalizas</h5> 
	       							</center>      							
	       						</div>
	       					</div>
	       				</div>

	       			</div>

	       			<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
	       				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	       				<span class="sr-only">Previous</span>
	       			</a>
	       			<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
	       				<span class="carousel-control-next-icon" aria-hidden="true"></span>
	       				<span class="sr-only">Next</span>
	       			</a>
	       		</div><!-----------------finaliza carousel 1-------------->
	       </center>
	       
           <center><!----------------------------------inicia carousel 2------------------------->
	       		<div id="myCarousel2" class="carousel slide mb-3" data-ride="carousel">
	       			<ol class="carousel-indicators">
	       				<li data-target="#myCarousel" data-slide-to="3" class="active"></li>
	       				<li data-target="#myCarousel" data-slide-to="4"></li>
	       				<li data-target="#myCarousel" data-slide-to="5"></li>
	       				<li data-target="#myCarousel" data-slide-to="6"></li>
	       				
	       			</ol>
	       			<div class="carousel-inner ">
	       				<div class="carousel-item active">
	       					<img src="images/img-agroecologico/aa-agro-carrucel.jpg" class="img-fluid">	       					
	       				</div>	
	       				<div class="carousel-item">
	       					<img src="images/img-agroecologico/bb-agro-carrucel.jpg" class="img-fluid">	       					
	       				</div>
	       				<div class="carousel-item">
	       					<img src="images/img-agroecologico/cc-agro-carrucel.jpg" class="img-fluid">	       					
	       				</div>
	       				
	       				<div class="carousel-item">
	       					<img src="images/img-agroecologico/dd-agro-carrucel.jpg" class="img-fluid">	       					
	       				</div>


	       			</div>

	       			<a class="carousel-control-prev" href="#myCarousel2" role="button" data-slide="prev">
	       				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
	       				<span class="sr-only">Previous</span>
	       			</a>
	       			<a class="carousel-control-next" href="#myCarousel2" role="button" data-slide="next">
	       				<span class="carousel-control-next-icon" aria-hidden="true"></span>
	       				<span class="sr-only">Next</span>
	       			</a>
	       		</div><!-----------------finaliza carousel 2------------------->
	       </center>
	</div><!---------------------------------fin de columna de carruseles-------------------->


<br>
	</div>
<!-------------------------------finaliza fila 2------------------------------------------>

<hr>

<!----------------------------------Inicia fila 3------------------------------------------>
<div class="row ">

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	
<!----------inicia efecto parallax------------------>
<div class="parallax" data-parallax="scroll" data-image-src="images/img-agroecologico/agroecologico-7.jpg">
	<center>
		<!---------titulo que se muestra en en efecto------------------>
<h3 class="parallax-title text-center py-5 text-shadow"><b>PROYECTOS AGROECOLÓGICOS</b></h3>
			</center>
</div><!-----------fin efecto parallax------------------>

<center><!----------------------contenido debajo del efecto parallax------------->
<h4>En el área agrícola se desarrollan proyectos de hortalizas, cultivo de plátanos, yuca, guineo patriota, árboles frutales, maderables, ornamentales y medicinales.<br>
Los proyectos que tradicionalmente se han desarrollado en la institución son: cría de pollos de engorde y gallinas ponedoras; cría de patos criollos y pequineses, codornices,  proyecto porcino;  pronto se  iniciará   el proyecto de piscicultura.</h4>
<br>
</center>
</div>
</div>
<!--------------------------------------------finaliza fila 3-------------------------->

<!--------------------------------------Inicia fila 4----------------------------->
<div class="row">	
           <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><!-----Inicio columna 1-------> 
                      	<center>
                             <div class="thumbnail"><!------thumbnail------->
                                    <img src="images/img-agroecologico/a-agroecologico.jpg" alt="" class="img-fluid">
                                    <div class="caption">
                                           
                                           <p><!------Contenido de thumbnail----->
                                              El cultivo de yuca, plátanos, guineos, bananos y todo lo relacionado con la hortaliza.
                                           </p>                                       
                                    </div>
                             </div><!------Fin thumbnail------->
                             </center>
            </div><!----fin columna 1------------->


            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><!-----Inicio columna 2-------> 
                         	<center>
                             <div class="thumbnail"><!------thumbnail------->
                                    <img src="images/img-agroecologico/a-agroecologico-4.jpg" alt="" class="img-fluid">
                                    <div class="caption">
                                           
                                           <p><!------Contenido de thumbnail----->
                                                Proyecto de piscicultura.
                                           </p>
                                    </div>
                             </div><!------Fin thumbnail------->
                             </center>
                      </div><!----fin columna 2------------->


                       <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><!-----Inicio columna 3-------> 
                         	<center>
                             <div class="thumbnail"><!------thumbnail------->
                                    <img src="images/img-agroecologico/a-agroecologico-codorniz.jpg" alt="" class="img-fluid">
                                    <div class="caption">
                                       
                                           <p><!------Contenido de thumbnail----->
                                                Proyecto de codornices.
                                           </p>                                          
                                    </div>
                             </div><!------Fin thumbnail------->
                             </center>
                      </div><!----fin columna 3------------->

                      <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3"><!-----Inicio columna 4-------> 
                         	<center>
                             <div class="thumbnail"><!------thumbnail------->
                                    <img src="images/img-agroecologico/a-agroecologico-gallin.jpg" alt="" class="img-fluid">
                                    <div class="caption">
                                            <p><!------Contenido de thumbnail----->
                                                Gallinas ponedoras.
                                           </p>     
                                    </div>
                             </div><!------Fin thumbnail------->
                             </center>
                      </div><!----fin columna 4------------->
               
</div><!---------------------------------finaliza fila 4------------------------->

