<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
				<div  class="titulo">
					<br>
					<img src="images/img-jeep/jornada-extendida-panoramica.jpg" alt="" class="img-fluid" >
					<br><br>
					<CENTER><h2>PROGRAMA DE JORNADA EXTENDIDA ESCOLAR PARA TODOS</h2></CENTER>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 ">
				<br>
				<div class="targeta">
					
					<center>
					<br>
					<h3>Directora:</h3><h3>
					Hermana Donatila González G.</h3><br>
					<h3>Coordinador:</h3>
					<h3>
					Profesor Leonel Osorio Rodríguez
					</h3>
					<br>
					<p>OBJETIVOS DE LA PROPUESTA ACADÉMICA NACIONAL “Jornada Escolar Extendida para todos”</p>
					</center>
				</div>
			</div>
		</div>
	</div>
	<!----------------------------------Inicio de fila de contenido de objetivo----------------------->
	<div class="container py-4">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h3 class="text-gray">Objetivos</h3>
				
				<div class="objetivo list-group-item list-group-item-success">
					<p>1.	Desarrollar la enseñanza-aprendizaje en base a procesos que realmente ayuden a la formación integral de nuestros jóvenes.</p>
				</div>
				
				<div class="objetivo list-group-item list-group-item-warning">
					<p>2.	Dar la posibilidad a que nuestros estudiantes generen su aprendizaje en procesos continuos, lógicos, críticos; desarrollen competencias y habilidades cognitivas; y a que trabajen de forma individualizada y colaborativa.</p>
				</div>
				<div class="objetivo list-group-item list-group-item-success">
					
					<p>3.	Implementar las metodologías, técnicas e instrumentos por competencias para provocar que el dicente se responsabilice de su aprendizaje.</p>
				</div>
				<div class="objetivo objetivo list-group-item list-group-item-warning">
					<p>4.	Crear el espacio para que los jóvenes permanezcan por más tiempo en un ambiente adecuado y que les permite tener contacto con aspectos que le ayuden a desarrollar hábitos y actitudes de sana convivencia, tanto intrapersonal como interpersonal, mediante el desarrollo de las artes, los deportes, la vida saludable y la ciudadanía.</p>
				</div>
				<div class="objetivo objetivo list-group-item list-group-item-success">
					<p>5.	Impactar la realidad de nuestras comunidades panameñas positivamente mediante el aprendizaje que genere la JEEPT en los jóvenes con la puesta en marcha del programa.</p>
				</div>
			</div>
			<!--------------------columna de compromisos de cada mienbro-------------------------------->
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<h4 class="text-gray">COMPROMISOS DE CADA MIEMBRO DE LA COMUNIDAD EDUCATIVA</h4>
				<div class="compromiso objetivo objetivo list-group-item list-group-item-primary">
					<p>1.	El director, como líder pedagógico, orquesta, planifica, organiza, ejecuta y supervisa todos los estamentos de la institución, para que toda la comunidad aporte lo mejor de sí y de su profesionalidad en fortalecer el proyecto.</p>
				</div>
				<div class="compromiso ">
					<p>2.	Los docentes, desde su ardua labor en las salas de clases y su disposición a trabajar (planear, conducir y evaluar) con un enfoque por competencias y dar siempre la milla extra, son esenciales para la puesta en práctica del programa.</p>
				</div>
				<div class="compromiso compromiso objetivo objetivo list-group-item list-group-item-primary">
					<p>3.	Los padres de familia y acudientes, responsablemente deben brindar su apoyo desde el hogar y la motivación continua a sus hijos para que aprovechen lo más posible esta gran oportunidad que se les brinda.</p>
				</div>
				<div class="compromiso">
					<p>4.	La comunidad brinda las posibilidades a la escuela de aplicar lo que en ella se aprende, hacerlo práctico, vivencial y contextualizarlo.</p>
				</div>
				<div class="compromiso compromiso objetivo objetivo list-group-item list-group-item-primary">
					<p>5.	Los jóvenes, dirigen sus esfuerzos en aprovechar todas las oportunidades que la escuela les brinda y en convertirse en los forjadores del futuro.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container py-4">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<center>
				<h4>PROYECTOS DURANTE LA FASE DE AFIANZAMIENTO A NIVEL NACIONAL</h4>
				</center>
				<b>1.	Afianzamiento y la resolución de los deberes diarios</b>, <p>para que el estudiante regrese a casa con la tarea resuelta, y claro en los aprendizajes adquiridos.</p>
				<b>
				•	Proyecto de comprensión lectora,</b><p> se desarrollará durante dos días de la semana con la finalidad de contextualizarlo en la realidad de los discentes de manera lúdica.</p><b>
				•	El proyecto de pensamiento lógico matemático, </b><p>busca articular la teoría con la realidad de los discentes.</p>
				<b>2.	Un día a la semana se dedicará al eje de arte-cultura y deporte-recreación.</b><br><br>
				<b>3.	Los ejes de convivencia y Ciudadanía,</b><p> además de Estilo de Vida Saludable y Ambiente, se manejarán en toda la jornada por todos los miembros del centro educativo.</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<center><h4>ANTESCEDENTES DEL PROYECTO</h4></center>
				<BR>
				<p>Este programa se ha desarrollado en el Instituto Carmen Conte Lombardo durante los años 2015, 2016, 2017, 2018 y 2019.<br><br>
					Es importante destacar que el Instituto Carmen Conte desde el año 2010 implementó una hora lúdica dentro de su horario escolar, que se desarrollaba todos los jueves dentro de la jornada de clases regulares; pero  con el nuevo programa de Jornada Extendida del MEDUCA, se facilita el acceder a los recursos necesarios para la práctica de las diversas actividades extracurriculares.<br><br>
					La etapa inicial del proyecto se muestra mediante las dos actas de convocatoria a la primera reunión de jornada extendida en el año 2015:
				</p>
				<button type="button"  class="btn btn-success" data-toggle="modal" data-target="#acta_a">VER ACTA 1</button>
				<button type="button"  class="btn btn-success" data-toggle="modal" data-target="#acta_b"> VER ACTA 2</button>
				<!------------------------Inicia Modal con Información de acta1--------------------------------->
				<div class="modal fade" role="dialog" id="acta_a">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">ACTA Nº 1</h3>
								
							</div>
							<!--------------contenido del modal------------------------------>
							<div class="modal-body">
								<p>Siendo las 7:00 A.M. del día 1 de octubre del 2015, en el salón Siglo XXI del plantel Instituto Carmen Conte Lombardo, ubicado en la comunidad de Churuquita Chiquita, convocados por el director de este centro, se reunieron los docentes para constituir lo siguiente:</p>
								<b>
								<hr>
								ORDEN DEL DÍA</b>
								<p>
									1.	Lista de asistencia<br>
									2.	Difusión del proyecto de jornada extendida<br>
									3.	Ventajas y desventajas del proyecto<br>
									4.	Situación sobre la alimentación, transporte y hospedaje de los estudiantes <br>
									El director, Presbítero José Domingo Rodríguez  inició formalmente la reunión.<br>
									En virtud de lo planteado al cuerpo docente,  se procedió al voto:<br>
									1.	Llevar a la realización  la jornada extendida  durante este año.<br>
									2.	Iniciar la jornada extendida a partir de la fecha, luego de reunión previa de los delegados de los padres de familia y la dirección.<br>
									3.	Conformación y selección de actividades lúdicas por parte de cada docente.<br>
									<hr>
									Sin más asunto que tratar, se levanta la sesión a las 8:40  del día arriba señalado
								</p>
							</div>
							
							<!-----------------------------footer del modal------------------------>
							<div class="modal-footer">
								<button type="submit" class="btn btn-success" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<!----------------------------Fin Modal con información de acta 1--------------------------------->
				<!------------------------Inicia Modal con Información de acta2--------------------------------->
				<div class="modal fade" role="dialog" id="acta_b">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">ACTA Nº 2</h3>
								
							</div>
							<!--------------contenido del modal------------------------------>
							<div class="modal-body">
								<p>Siendo las 1:40 P.M. del día 5 de octubre del 2015, en el salón Siglo XXI del plantel Instituto Carmen Conte Lombardo, ubicado en la comunidad de Churuquita Chiquita, convocados por el director de este centro, se reunieron los docentes para constituir lo siguiente:</p>
								<hr>
								<b>ORDEN DEL DÍA</b>
								<p>
									1.	Lista de asistencia.<br>
									2.	Presentación nuevamente del proyecto de jornada extendida.<br>
									3.	Lectura de las actividades  realizadas desde el 1 de octubre de 2015.<br>
								4.	Realización del cronograma de actividades.<br></p>
								<hr>
								<b>CRONOGRAMA DE TRABAJO</b><br>
								<b>Jueves 1:</b>
								<p>Selección de Lúdica<br>
								Selección de horario</p>
								<b>Viernes 2:</b>
								<p>Corrección de horario<br>
									Creación de 39 grupos<br>
									Cantidad de estudiantes por grupo<br>
									Asignación de grupos por nivel a los docentes.<br>
								</p>
								<b>Martes 6:</b>
								<p>Organización de horarios para los docentes<br>
									Conformación de los proyectos para las  actividades lúdicas
								</p>
								<b>Miércoles 7:</b>
								<p>Continuación de los horario</p>
								<b>Jueves8:</b>
								<p>Confección de listado de los diferentes niveles.<br>
								Establecer la dinámica de desempeño</p>
								<b>Viernes 9:</b>
								<p>Asignación de espacios a los docentes.</p>
								<hr>
								<p>Sin más asunto que tratar, se levanta la sesión a las 3:40  del día arriba señalado.</p>
								
							</div>
							
							<!-----------------------------footer del modal------------------------>
							<div class="modal-footer">
								<button type="submit" class="btn btn-success" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<!----------------------------Fin Modal con información de acta 2--------------------------------->
			</div>
		</div>
	</div>
	<!----------------------------------Cabecera----------------------->
	<!-------------------------Final de contenido de objetivo-------------------------------------->
	<div class="container-fluid fondo_seccion_primary py-4">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
					<center>
					<h5>OBJETIVOS DEL PROGRAMA EN EL INSTITUTO CARMEN CONTE LOMBARDO</h5>
					</center>
					<center>
					<p>El Programa es coordinado en la institución por la Directora Hermana Donatila González y el Profesor Leonel Osorio Rodríguez.<br><br>
						La implementación del proyecto de “Jornada Extendida Para Todos” desde el nivel de Educación Básica General hasta el nivel de Educación Media, en el Sistema Educativo Oficial de la República de Panamá, se enmarca en cuatro ejes temáticos:
					</p>
					<p>1.	Artes y Cultura<br>
						2.	Estilo de Vida Saludable<br>
						3.	Ciudadanía<br>
						4.	Reforzamiento Académico.<br>
					</p>
					<p>La implementación del mismo en El Instituto Carmen Conte Lombardo  se desarrolla bajo esa temática en los talleres y actividades que describimos a continuación, y que justificamos a través de las evidencias.</p>
					<p>El Programa de Jornada Extendida para Todos se asume como un medio para mejorar la calidad de la educación, tan anhelada en el PEC ya que éste brinda excelentes oportunidades para ofrecer a los estudiantes más tiempo en el aula de clases, refuerzo en las materias que lo necesiten; alimentación balanceada y a tiempo, así como espacios para fomentar la recreación, la cultura, estilo de vida saludable y el deporte organizado. </p>
					<p>Para el año 2019, el desarrollo del programa toma en cuenta algunas estrategias por nivel: </p>
					<b>SÉPTIMO GRADO:</b>
					<p>•	Potenciar la comprensión lectora en los estudiantes de primer ingreso.</p>
					<b>OCTAVO GRADO:</b>
					<p>•	Profundizar las Técnicas de Estudio iniciadas con el Programa de Éxito Seguro en Séptimo Grado en el desarrollo de las materias de matemáticas, español e inglés.</p>
					<b>NOVENO GRADO</b>
					<p>•	Propiciar en los estudiantes el desarrollo del conocimiento en el área científica a fin de que puedan tomar una mejor decisión a la hora de elegir el bachillerato.
					</p>
					<p>En cada uno de estos niveles se desarrollan los espacios de Afianzamiento y la resolución de los deberes diarios.  Igualmente se desarrollan las actividades lúdicas en función de proyectos ya establecidos o por construir en el centro educativo ICCL.</p>
					</center>
				</div>
			</div>
		</div>
	</div>
	<div class="container py-4">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<center>
				<h3>ESTRATEGIAS Y EXPERIENCIAS LOGRADAS</h3>
				</center>
				<center><h4>TALLERES LÚDICOS</h4>
				<h5>ARTES Y CULTURA</h5>
				<p>Mediante  estos talleres  los estudiantes  desarrollarán habilidades  y actitudes que le permitan acceder a sus manifestaciones de pensamiento, perceptivas, comunicativas, sensibilidad y sentido estético y creativo, para mejorar  en funcionamiento la iniciativa, la imaginación y la creatividad. </p>
				
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Swiper -->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide ">
							<!-- photo 1 -->
							<div class="logo">
								<img src="images\img-jeep\dibujo-pintura-1.jpg">
							</div>
							<div class="content">
								<h3> Dibujo y Pintura</h3>
							</div>
							
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\a-estudiantes-jornada.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3> Teatro</h3>
							</div>
						</div>
						
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\a-folclore-danza-3.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Folclore (Danzas, Ballet Folclórico)</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\a-baile-tipico.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Baile Típico (Conjunto Típico)</h3>
							</div>
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
				
			</div>
		</div>
	</div>
	<!-----------fin swiper de ARTES Y CULTURA ----------------------------------->
	<!-----------inicio estilo de vida----------------------------------->
	<div class="container-fluid fondo_seccion_primary py-4">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<center><h3>ESTILO DE VIDA SALUDABLE</h3>
					<p>Los talleres de estilo de vida saludable están dirigidos a los estudiantes que sienten cierta motivación hacia los estilos, formas y hábitos de vida sana y que son necesarios para mantener una salud adecuada.</p>
					<b><h3>Gastronomía</h3></b>
					</center>
				</div>
			</div>
			<div class="row">
				<!---_______swiper de gastronomia ----------->
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<!-- Swiper -->
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide ">
								<!-- photo 1 -->
								<div class="logo">
									<img src="images\img-jeep\a-gastronomia-1.jpg">
								</div>
								<div class="content">
									<h3>Gas</h3>
								</div>
								
							</div>
							<div class="swiper-slide">
								<!-- photo 2-->
								<div class="logo">
									<img src="images\img-jeep\a-gastronomia-2.jpg" class="img-fluid">
								</div>
								<div class="content">
									<h3>tro</h3>
								</div>
							</div>
							
							<div class="swiper-slide">
								<!-- photo 2-->
								<div class="logo">
									<img src="images\img-jeep\a-gastronomia-3.jpg" class="img-fluid">
								</div>
								<div class="content">
									<h3>no</h3>
								</div>
							</div>
							<div class="swiper-slide">
								<!-- photo 2-->
								<div class="logo">
									<img src="images\img-jeep\a-gastronomia-4.jpg" class="img-fluid">
								</div>
								<div class="content">
									<h3>mí</h3>
								</div>
							</div>
							<div class="swiper-slide">
								<!-- photo 2-->
								<div class="logo">
									<img src="images\img-jeep\a-gastronomia-5.jpg" class="img-fluid">
								</div>
								<div class="content">
									<h3>a</h3>
								</div>
							</div>
							
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<div class="container py-4">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<center>
				<h3>RECREACIÓN Y DEPORTE</h3>
				</center>
				<p>Las actividades deportivas propias de estos talleres  son un medio eficaz para facilitar la integración y fomentar el respeto, a la vez que contribuye al desarrollo de la cooperación, la igualdad y el trabajo en equipo. La práctica y la organización de las actividades deportivas colectivas exigen la integración de un proyecto común, y la aceptación de las diferencias y limitaciones de los participantes, siguiendo normas democráticas en la organización del grupo y asumiendo cada integrante sus propias responsabilidades.</p>
				<center>
				<h4>Fútbol</h4>
				</center>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="thumbnail">
					<center>
					<img src="images\img-jeep\futbol.jpg" alt="" class="img-fluid">
					</center>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="thumbnail">
					<center>
					<img src="images\img-jeep\futbol-2.jpg" alt="" class="img-fluid">
					</center>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid fondo_seccion_primary py-4">
		<div class="container">
			<div class="row ">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<center><h4>CIUDADANÍA</h4></center>
					<p>
					Nuestra sociedad  requiere hoy de jóvenes más sensibles, con destrezas creativas y de expresión libre. Por lo que este proyecto responde a la necesidad de ofrecer un espacio a los estudiantes para orientarlos sobre la dimensión estética, emotiva y recreativa de la oratoria, los grupos juveniles y el proyecto huellas de caridad, como fuentes de distracción sana y enriquecedora.  </p>
					<center>
					<h5>Grupo Juvenil</h5></center>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="thumbnail">
						<center>
						<img src="images\img-jeep\grupo-juvenil.jpg" alt="Generic placeholder image" class="img-fluid" style="margin: 1%;">
						</center>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="thumbnail">
						<center>
						<img src="images\img-jeep\grupo-juvenil-2.jpg" alt="Generic placeholder image" class="img-fluid" style="margin: 1%;
						">
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--------------------------------contenido de fila de razonamiento academico------------------------------------>
	<div class="container py-4">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<center><h4>REFORZAMIENTO ACADÉMICO.</h4></center>
				<p>
				Reforzar el conocimiento a través de la explicación, las prácticas, las evaluaciones y la ejecución de juegos y dinámicas que le permitan desarrollar al alumno no solo el conocimiento, sino a  ejecutar una serie de destrezas y habilidades que le llevarán a  competir y desenvolverse en su entorno.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Swiper -->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<!-- photo 1 -->
							<div class="logo">
								<img src="images\img-jeep\a-matematicas.jpg">
							</div>
							<div class="content">
								<h3>Juegos Matemáticos</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\a-matematicas-3.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Reforzamiento de Matemáticas</h3>
							</div>
						</div>
						
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\a-quimica-2.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Reforzamiento de Química</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\a-necesidades-especiales.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Atención a Necesidades Especiales</h3>
							</div>
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
				
			</div>
		</div>
	</div>
	<!---------------fila de imagenes  de reforzamiento academico .........................---->
	<div class="container-fluid fondo_seccion_primary py-4">
		<div class="container">
			<div class="row ">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<center><h4>	ACOMPAÑAMIENTO EN EL AULA DE CLASE:</h4></center>
					Reforzar el conocimiento a través de la realización de tareas, talleres y trabajos en el aula de clase le permite al alumno llevar para sus hogares un mínimo de asignaciones, ya que aprovechan los espacios de acompañamiento para la realización de las mismas.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Swiper -->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<!-- photo 1 -->
							<div class="logo">
								<img src="images\img-jeep\a-orientacion.jpg">
							</div>
							<div class="content">
								<h3>Orientación</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\a-matematicas-5.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Matemáticas</h3>
							</div>
						</div>
						
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\a-espanol.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Español</h3>
							</div>
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container py-4">
		<!--------swiper para acompañamento en el aula de clase-------------->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<center>
				<h3>LÚDICAS</h3>
				</center>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<!-- Swiper -->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<!-- photo 1 -->
							<div class="logo">
								<img src="images\img-jeep\ludica-arte-geometrico.jpg">
							</div>
							<div class="content">
								<h3>Arte Geométrico</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-artesanias.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Artesanías</h3>
							</div>
						</div>
						
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-balet-folklorico.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Balet Folklórico</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-coro-flauta.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Cloro/Flauta</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-folklore.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Folklore</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-futbol.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Fútbol</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-gastronomia.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Gastronomía</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-gimnasia.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Gimnasia</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-pin-pon.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Pin Pon</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-pintura-dibujo.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Pintura/Dibujo</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-quimica-en-cocina.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Química en la cocina</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-robotica.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Robótica</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-teatro.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Teatro</h3>
							</div>
						</div>
						<div class="swiper-slide">
							<!-- photo 2-->
							<div class="logo">
								<img src="images\img-jeep\ludica-tejido.jpg" class="img-fluid">
							</div>
							<div class="content">
								<h3>Tejido</h3>
							</div>
						</div>
					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- Swiper JS -->
<script src="js/swiper.min.js"></script>
<!-- Initialize Swiper -->
<script>
var swiper = new Swiper('.swiper-container', {
effect: 'coverflow',
grabCursor: true,
centeredSlides: true,
slidesPerView: 'auto',
coverflowEffect: {
rotate: 50,
stretch: 0,
depth: 100,
modifier: 1,
slideShadows : true,
},
pagination: {
el: '.swiper-pagination',
},
});
</script>