<div class="row"><!--------------inicio fila 1------------------------->
	<!----------------------contenido---------------------------->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6"><!---inicio columna 1---------------------->
<br>
<!--titulo----->
		<h4 class="card-title">Los resultados del programa ‘Educación: Éxito Seguro’, desarrollado por 18 Centros Educativos de Coclé, fue presentado por la fundación Unidos por la Educación y el grupo Verde Azul.</h4>
		<center>

	<img src="images/img-educacion-exito-seguro/educacion-exito-maestros.jpg"  class="img-fluid edc_img ">
	</center>
	<br>
	    <!---------------contenido-------------->
		<p>Tras la puesta en marcha’, la deserción escolar ha disminuido entre un 35% y un 68% en los colegios participantes.</p>
		<p>Los resultados positivos del programa en su primer año, permitieron sistematizar la experiencia a través de una guía de implementación, que incluye la información necesaria para desarrollar este modelo en cualquier centro escolar, oficial o particular.</p><p>
Se trata de un proyecto de enfoque colaborativo que tiene como objetivo general disminuir la deserción académica en primaria y premedia, para mejorar las deficiencias académicas y aumentar la adaptación escolar, social y personal de los estudiantes beneficiarios.</p>


	</div><!-----fin columna 1--------------->


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6"><!--------------inicio columna 2-------------->
		<br>
<figure class="figure"><!--------------imagen con leyenda--------------->
	<img src="images/img-educacion-exito-seguro/educacion-exito-recononcimiento.jpg" class="figure-img img-fluid rounded" alt="">
	<figcaption class="figure-caption">Reconocimiento por parte del grupo Verde Azul. </figcaption>
</figure>

</div><!---------------fin columna 2----------------->

</div><!-------------------------fin fila 1---------------------->


<div class="row"><!------inicia fila 2-------------->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!--parte de contenido -------->
		<p>Se les enseña herramientas de aprendizaje, mientras obtienen una formación integral en valores. Los padres y docentes también participan del programa a través de talleres enfocados en sus necesidades.</p>
<p>Los alumnos participantes reciben talleres lúdicos semanalmente impartidos por el psicopedagógico de su plantel y estudiantes graduandos universitarios de psicología y educación de la Universidad Especializada de las Américas (Udelas) y de otras universidades aliadas.</p>	
	</div>
</div><!-------fin fila 2----------->


<div class="row"><!-------------------inicio fila 3------------------>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><!--------columna 1----------------->
		<hr>
		<div class="card"><!-----------contenido------------->
		<p>El proyecto Éxito Seguro inició en nuestro colegio Instituto Carmen Conte Lombardo en el año 2016,  la matrícula fue de 128 estudiantes de 7° grado en el horario de Jornada extendida para no afectar las horas regulares de clases.</p>
          <p>Los  estudiantes son atendidos por estudiantes de UDELAS (Universidad de las Américas)  en las carreras de Psicología Educativa y Educación Especial. La atención se da una hora semanal. </p>
          <p>Los estudiantes aprenden técnicas de estudios como mapas conceptuales, mapas mentales, exposiciones cortas semanales, juegos de memoria y habilidades, observación de videos de los cuales seleccionaban lo más importante.</p>
<p>Los estudiantes han mejorado su comportamiento y las calificaciones, ya que dichas técnicas han sido puestas en práctica.
Había estudiantes muy tímidos y pasivos cuya participación era limitada en el aula a la hora de expresarse en charlas, poesías, debate, dramatización; después de participar en este proyecto, mostraron un cambio en la realización de estas actividades.</p>
<p>Su comportamiento a la hora de trabajar en grupo mejoró, pues se observaron más cooperadores, tolerantes y unidos.</p>
</div><!------fin contenido------------->
	</div><!-----------fin columna 1--------------->

</div><!--------------fin fila 3----------->