
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<hr>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<center>
	<br>
	<img src="images\img-cursodenivelacion\curso-de-nivelacion.jpg" class="img-fluid">
</center>
	</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<p>Los cursos de verano se conciben a partir de la urgente necesidad percibida por los educadores del centro: fortalecer y nivelar los conocimientos en los estudiantes de primer ingreso (séptimo y décimo grado),  debido a que, un porcentaje de ellos vienen de escuelas multigrados y tele básicas, presentando deficiencias en contenidos como español, inglés, matemáticas y ciencias, materias básicas que requieren más comprensión y aplicación.</p>



		<p>A partir de esta realidad detectada por los docentes, nace la inquietud de la administración y padres de familia para realizar los Cursos de Verano o Nivelación en el Instituto Carmen Conte Lombardo. </p>
	</div>



</div>

<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<p>
Con el desarrollo e implementación de los cursos, se adicionan los de introducción a la  química, física y  al turismo, por considerarse que estas materias causan cierto grado de dificultad, por sus contenidos abstractos y analíticos; aquí se le permite al joven ver un preámbulo de los contenidos que posteriormente recibirá durante  periodo regular de clases. Cabe destacar que otro de los cursos brindados por el plantel es el de música, cuyo objetivo es permitir un desarrollo de características artísticas musicales, al mismo tiempo es divertido, disciplinario y de goce personal para los alumnos.</p>



		
	</div>
</div>


<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	<img src="images\img-cursodenivelacion\curso-de-nivelacion-2.jpg" class="img-fluid" alt="" width="100%"><br><br>
</div>

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
<img src="images\img-cursodenivelacion\curso-de-nivelacion-s3.jpg" alt="" class="img-fluid">
	
</div>
</div>


<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<center> 
			<p>Durante este periodo de tiempo se les orienta acerca de las normas de convivencia dentro del plantel; además se les brinda una charla a los padres e hijos de primer ingreso, estableciendo ese primer contacto y compromiso padres-escuela, que garantizará un óptimo aprendizaje, tanto académico, como en valores éticos, morales y religiosos.</p>
		<p>Estos espacios o periodos de acompañamiento, formación, nivelación e inducción en el verano son importantes porque facilitan a los estudiantes su adaptación de primaria a secundaria, en donde generalmente, el adolescente posee aún, cierto comportamiento de niño, por lo que se hace necesaria su preparación  para luego moldearlo, de acuerdo al perfil que poseemos como institución. </p>
	<p>Por estos fundamentos antes expuestos y el afán del plantel en crear un agente de cambio basado en valores, se dictan los cursos de verano, durante el mes de febrero de cada año.</p>
		
		<p>Para muchos estudiantes este constituye su primer contacto con una computadora.</p>
		</center>
	</div>
</div>

