<!--titulo------------------->
<div class="row"> <!------------inicia fila 1------------>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<CENTER>
		<h1>PASTORAL</h1>
		<HR>
		</CENTER>
	</div>
</div><!--------------finaliza fila 1------------->

	
<div class="row">
<!----------------------------columna derecha del menu------------>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-2"><!--inicio columna 1----->
	        <div class="list-group titulo_list"><!-------menu lateral-->
	        	<center>
               <a class="list-group-item activ9" >
               	<h4>Secciones</h4>	
				</a>

				<a href="#seccion_a" class="list-group-item" ><!--llama a la seccion a-->
					<h8 class="list-group-item-text">Formación Permanente y cristiana</h8>
					
				</a>
				<a href="#seccion_b" class="list-group-item">
					<h8 class="list-group-item-text">Celebración de la Fe</h8>
				
				</a>
				<a href="#seccion_c" class="list-group-item">
					
					<h8 class="list-group-item-text">Jóvenes contra el delito</h8>
				</a>
				<a href="#seccion_d" class="list-group-item">
					
					<h8 class="list-group-item-text">Pastoral Educativa</h8>
				</a>
				<a href="#seccion_e" class="list-group-item">
					
					<h8 class="list-group-item-text">Espacios de diálogo y escucha</h8>
				</a>
				<a href="#seccion_f" class="list-group-item">
					
					<h8 class="list-group-item-text">Pastoral Juvenil</h8>
				</a>
			</center>
			</div><!---fin menu lateral---------->
	</div><!---------------fin columna 1------>


	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
		
<!--fila principal------->
<div class="row"><!--------------inicia fila 2-------------->
<!---------Menu lateral que lleva a secciones dentro de la pagina---------------------------------------------------------------------->
	
<!------Contenido--------------------------------->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10"><!---------columna 2------->
	   <h5 style="margin: 2%;"><!--------estilo propio a esta sección de contenido------->
 La acción pastoral en el Instituto Carmen Conte Lombardo, bastión del amor a Dios, ha estado acompañando y animando desde sus inicios a la institución. <br><br>

También el proceso de fe en jóvenes, padres de familia, personal docente, administrativo y de mantenimiento, para que adhiriéndose a la doctrina de Jesucristo, agentes y destinatarios, testimonie los valores del Reino y transformen la sociedad donde viven. <br><br>
 
El Instituto Carmen Conte Lombardo, consciente de su adhesión a la Iglesia, Institución que dio origen al colegio y en cuyos parámetros enmarcamos nuestro quehacer pedagógico y disciplinario, trabajamos siete aspectos:

 </h5>
 <!---------fin contenido---->
</div><!---fin columna 2------------->

</div><!---------fin fila 2------------------>




<!---linea hr para indicar separación de contenido en fila 3----------------->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<hr>
	</div>
</div>





<div class="row fila_color"><!--fila 4------------------>
	<!--imagen con contenido--------->
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"><!-----columna 1--------->
<img src="images\img-pastoral-juvenil\pastoral-bautizo.jpg" class="img-fluid img-past-cont" style="width:100%;" ><!--estilo propio solo a esta imagen---->
</div>

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"><!-----columna 2--------->
	<h5 style="margin: 5%;">
		<a name="seccion_a"><h2>Formación Permanente y cristiana</h2></a>
 Atender a los diferentes miembros de la comunidad educativa a través de espacios de formación para docentes; personal administrativo y Manuales, Padres de familia que contribuyan a la formación cristiana y nos permitan tener una experiencia personal de encuentro con Cristo. (aprovechando los espacios de las reuniones). </h5>
</div>

</div><!----------------fin fila 4--------->



<div class="row"><!-- linea hr para indicar separación de contenido en fila 5------------------>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<hr>
	</div>
</div><!--------------fin fila 5--------------->



<div class="row"><!--Fila 6--------------->
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><!----columna 1------------>
	<img src="images/img-pastoral-juvenil/pastoral-personal.jpg" class="img-fluid img-past-cont" style="width: 100%; margin-right: 4%;" ><!--estilo propio aplicado solo a esta imagen------>
</div>


<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"><!----columna 2------------>
	
   <h5 style="margin: 6%;"><!--estilo propio aplicado a esta seccion----------->
   	<a name="seccion_b"><h2>Celebración de la Fe</h2></a>
 En comunidad educativa celebramos los principales acontecimientos de nuestra fe. Procuramos que las diversas celebraciones y momentos de oración en el año, tengan como punto de partida nuestra vida cotidiana y nos impulsen para vivir cristianamente con mayor entusiasmo y convicción. </h5>
</div>

</div><!------fin fila 6------------------->





<!---------------Sección Jovenes contra el delito------------------------------------>
<div class="row "><!-----linea hr para indicar separación de contenido en fila 7-------------->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<HR>
</div>
</div><!-------------fin fila 7-------------->




<div class="row fila_color"><!-- fila 8--------->
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><!---columna 1---------->
	   <img src="images/img-pastoral-juvenil/jovenes-contra-el-delito.jpg" class="img-fluid img-past-cont" style="width: 100%; margin-right: 4%;" ><!--estilo propio aplicado solo a esta imagen---------->
</div>


<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"><!------columna 2----------->
   	 <h5 style="margin: 6%;"><!-- estilo propio a esta seccion---------->
   	 	<a name="seccion_c"><h2>Solidaridad</h2><br><h2>Jóvenes contra el delito</h2></a>
 El auténtico compromiso como cristianos se juega en el quehacer de cada día, reconociendo en el otro la presencia real de Jesucristo. Por ende buscamos sensibilizar al estudiante en la necesidad de ayudar al prójimo. Característica inherente a la sociabilidad que inclina al ser humano sentirse unido a sus hermanos procurando el bienestar de todos. </h5>
</div>

</div><!----fin fila 8----------------->
<!-----------------------------------------Fin sección-------------------------------------------->








<div class="row"><!--fila 9----------------->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<hr>
	</div>
</div><!--fin fila 9--------->




<div class="row"><!-----------------fila 10------------------->
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"><!--------columna 1---->     
          <img src="images/img-pastoral-juvenil/pastoral-solidaridad.jpg" class="img-fluid img-past-cont">
	</div>

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"><!----------------columna 2------>
    <h5 style="margin:7%;"><!--estilo rpopio a esta sección---------->
<a name="seccion_d"><h2>Pastoral Educativa</h2></a>
     Ayudar a los educadores de esta institución para que sean testimonio, ante todo, en el ámbito educativo y promuevan la síntesis vital entre Cultura, Fe y Vida desde la educación, en la formación de la persona humana y en el bien de la sociedad. 
    </h5>	
</div>
</div><!------fin fila 10----------------->






<div class="row"><!-- fila 11--------------->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<hr>
	</div>
</div><!-------------fin fila 11------------->



<div class="row fila_color"><!----------inicio fila 12------------>
<div class="col-xs-2 col-sm-7 col-md-5 col-lg-4"><!-------columna 1------------>
	<!---------contiene dos imagenes se muestra una cuando la pagina alcanza un determinado tamaño- cuando adquiere otro tamaño la imagen cambia---------->

	 <img src="images/img-pastoral-juvenil/pastoral-educativa.jpg" class="img-fluid img-past-cont img_a" 
	style="border-radius: 51%; width:100%; margin: 10%;" >

	<img src="images/img-pastoral-juvenil/pastoral-educativa-2.jpg" class="img-fluid img-past-cont img_b"
	style="border-radius:51%; width:100%;margin:2%">

</div>

<div class="col-xs-10 col-sm-5 col-md-7 col-lg-8"><!-------columna 2---------->
	
	   <h5 style="margin: 15%;"><!-----------contenido estilo propio para esta seccion----->
	   	<a name="seccion_e"><h2>Espacios de diálogo y escucha</h2></a>
 A través del acompañamiento tanto para las personas dentro y fuera de nuestra institución que requieran una orientación en el plano humano y espiritual.  </h5>
</div>
</div><!------fin fila 12---------->





<!-----------------------------------------lINEA HR---------------------------------------------->
<div class="row"><!-------fila 13---------->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<hr>
	</div>
</div><!--- fin fil 13------->



<div class="row"><!------------fila 14-------------->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">	
           <img src="images/img-pastoral-juvenil/pastoral-juvenil.jpg" class="img-fluid img-past-cont" style="width:100%; margin-right: 4%;" >
     </div>


<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
  	    <h5 style="margin:7%;">
  	    	<a name="seccion_f"><h2>Pastoral Juvenil</h2></a>
  	    A través de la pastoral juvenil, brindar a los jóvenes espacios y experiencias de encuentro con la persona de Cristo y su mensaje que permitan el crecimiento humano cristiano de los miembros del grupo.  
      </h5>
  </div>

</div><!----fin fila 14------>


<br>


</div>

</div>