
hr{
	/*linea de color rojo que divide los contenidos----------------*/
	 border-color: red;
}

.imagecirc{
	/*efecto de circulo en el borde de las imagenes--------------*/ 
border-radius: 10%;
image-rendering: optimizeQuality;
}


.fondoeditminicarrucel{
	/*Fondo al titulo en la imagenes del carousel 1*/
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	background-color: #4678;
}


.fila_color{
	/*Cambia fondo a la fila que contiene los carouseles y el contenido*/
	background-color: #2543;
}

