/*==========Fuentes===========*/

@font-face {
  font-family: 'AvenirNext_h1';
  src: url('../fonts/AvenirNextLTPro-Bold.otf');
  font-style: normal;
  font-weight: 50;
}
@font-face {
  font-family: 'AvenirNext_h2';
  src: url('../fonts/AvenirNextLTPro-Demi.otf');
  font-style: normal;
  font-weight: 50;
}
@font-face {
  font-family: 'AvenirNext_pf';
  src: url('../fonts/AvenirNextLTPro-Regular.otf');
  font-style: normal;
  font-weight: 50;
}

h1{font-family: AvenirNext_h1;}
h2{font-family: AvenirNext_h1; font-size: 2rem;}
h3{font-family: AvenirNext_h2;}
h4{font-family: AvenirNext_h2;}
p{font-family: AvenirNext_pf; font-size: 1.1em;}
a{font-family: AvenirNext_pf;}
li{font-family: AvenirNext_pf;}
i{font-family: AvenirNext_pf;}

/*========== body ===========*/
body{
background-color: #ffffff; 
}
/*==========Menu Principal===========*/
.mainmenu{background-color: #a51c30!important;}
.dropdown-menu{padding:0;margin:0;border:0 solid transition!important;border:0 solid rgba(0,0,0,.15);border-radius:0;-webkit-box-shadow:none!important;box-shadow:none!important}
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{color:#fff;font-size:16px;padding:16px 15px;font-family:'Roboto',sans-serif;display: block !important;}
.mainmenu .active a,.mainmenu .active a:focus,.mainmenu .active a:hover,.mainmenu li a:hover,.mainmenu li a:focus ,.navbar-default .navbar-nav>.show>a, .navbar-default .navbar-nav>.show>a:focus, .navbar-default .navbar-nav>.show>a:hover{color: #fff;background: #a51c30;outline: 0;}
#navar-center{
	margin-left: 7%;
}
/*==========Sub Menu===========*/
.mainmenu .collapse ul > li:hover > a{text-decoration-line: none;background: #851525;}
.mainmenu .collapse ul ul > li:hover > a, .navbar-default .navbar-nav .show .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .show .dropdown-menu > li > a:hover{background: #595553;}
.mainmenu .collapse ul ul ul > li:hover > a{background: #0d2b;}
.mainmenu .collapse ul ul, .mainmenu .collapse ul ul.dropdown-menu{background:#30393a;}
.mainmenu .collapse ul ul ul, .mainmenu .collapse ul ul ul.dropdown-menu{background:#1E88E5}
.mainmenu .collapse ul ul ul ul, .mainmenu .collapse ul ul ul ul.dropdown-menu{background:#64B5F6}
/******************************Drop-down menu funcional con hover**********************************/
.mainmenu{background: none;border: 0 solid;margin: 0;padding: 0;min-height:20px;width: 100%;}
@media only screen and (min-width: 1024px) {
.mainmenu .collapse ul li:hover> ul{display:block}
.mainmenu .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul li{position:relative}
.mainmenu .collapse ul ul li:hover> ul{display:block}
.mainmenu .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
/*******/
.mainmenu .collapse ul ul ul li{position:relative}
.mainmenu .collapse ul ul ul li:hover ul{display:block}
.mainmenu .collapse ul ul ul ul{position:absolute;top:0;left:-100%;min-width:250px;display:none;z-index:1}

}
@media only screen and (max-width: 768px) {
.navbar-nav .show .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 35px}
.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu > li > a{padding:16px 15px 16px 45px}
}
/*==========fondo de las cabeceras===========*/
.bg_cabecera{background: #a51c30;}
/*==========correcciones===========*/
#fix_menu_top{
padding-left: 0px !important;
padding-right: 0px !important;
}
@media only screen and (max-width: 1198px){
.mainmenu a, .navbar-default .navbar-nav > li > a, .mainmenu ul li a , .navbar-expand-lg .navbar-nav .nav-link{
font-size: 13px !important;
}
#navar-center{
  margin-left: 5%;
}
}
@media only screen and (max-width: 990px){
#navar-center{
  margin-left: 0;
}
  }
#fix_logotop{
padding-bottom: 20px;
}
/*==========Footer===========*/
.footer{
background-color: #30393a;
margin-top: 0px !important;
color: #ffffff;
}

.footer_ul { list-style: none;
padding-left: 20px !important;
padding-right:20px !important;
}
.footer_ul>li>a {
color: #ffffff;
text-decoration: none;
line-height: 1.8;
}
.footer_ul>li>a:hover{
color: #0096ff;
text-decoration: none;
font-weight: 500;
}
.col-titulo {
display: block;
text-transform: uppercase;
color:#ffffff;
font-weight: 500;
margin: 1rem 0;
padding: .4rem 0px;
border-bottom: 1px solid #c7c7c7;
letter-spacing: 3px;
}
.fa {
color: #ffffff;
margin-right: 10px;
font-size:18px;
width:2.25rem;
}
.icon-separacion{
margin-right: 8px !important;
}

#instagram-color:hover{
color: #fcaf45 !important;
}
#creadores-color:hover{
color: #41FF43 !important;
}

/*==========Para uso global===========*/
.jumbotron{
	background-color: #ffffff;
}

.parallax{
    background: transparent;

}
.parallax-title{
z-index: 1;
color:#ffffff;
padding: 70px 0 70px 0;
    margin-bottom: 0px;
}

.text-gray{
  color: #444444;
}
.text-bold{
font-weight: bold;
}

.fondo_seccion_primary{
background-color: #E1E1E1;
padding: 30px 0 30px 0;
}
.fondo_seccion_creadores{
background-color: #a6d4f2;
}
.fondo_titulo_creadores{
background-color: #a51c30;
color: #FFFFFF;
font-size: 25px;
}
.bg-pr{
background:url(../images/background.gif) repeat;


}