/*Cambia el tamaño del texto que aparece despues del titulo */

@media screen and (max-width: 770px){
	.text-section-title{
		font-size: 1.5em;
		text-align: center;
	}
	.text-secondary-title{
		font-size: 1.2em;
	}	
  #text-cohetes{
font-size: 1em;

}
}

.fondo_seccion_primary{
background-color: #E1E1E1;
padding: 30px 0 30px 0;
}
.fondo_seccion_secondary{
background-color: #F5F5F5;
padding: 30px 0 30px 0;
}

.icono-contenedor-bc{
color:#73a14a;
text-align: center;
}


#bg-giras{
	background-color: #143548;
}

/*Forma una linea diagonal (seccion de giras académicas) */
.linea-diagonal {
      position: relative;
      width: 100%;
      height: auto;
      background: rgba(40, 40, 40, 1);
      box-sizing: border-box;
      padding: 30px;
      margin-bottom: 100px;
    }

.linea-diagonal:after{
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background: inherit;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform-origin: top left;
      transform: skewY(4deg);
    }

.img-shadow{
    box-shadow: 6px 6px 6px  rgba(0, 0, 0, 0.3);

}

#ul-ciencia {
  list-style: none;
  padding: 0;
   font-size: 1.2em;
}
.li-ciencia {
  padding-left: 1.3em;
}
.li-ciencia:before {
       color:#a51c30;
  content: "\f00c"; /* FontAwesome Unicode, ícono de gancho*/
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* se coloca el mismo padding por defecto que li */
  width: 1.3em; /*mismo padding left que tiene por defecvto */
}

#text-cohetes{
  position:absolute;
  background-color: #ffffff;
  padding:05px 17px 5px 10px;
  margin: 0px 30px;
      top: 1;
      right: 0;
      bottom: 0;
      left: 1;
}
.fondo_seccion_primary{
background-color: #E1E1E1;
padding: 30px 0 30px 0;
}