/*========== cambia el tamaño de texto en resoluciones menores ===========*/
@media screen and (max-width: 768px){
	.text-section-title{
		font-size: 1.3em;
		text-align: center;
	}
	.text-secondary-title{
		font-size: 1.2em;
	}	
}

.fondo_seccion_primary{
background-color: #E1E1E1;
}


#img-coctel-2{
	height: 300px;
	width: auto;
}

.img-cristaleria{
	height: 500px;
	width: auto;
}

#text-turismo-vista{
  position:absolute;
  background-color: #ffffff;
  padding:05px 17px 0px 10px;
  margin: 0px 8px;
      top: 1;
      right: 0;
      bottom: 0;
      left: 1;
      z-index:1;
}

/*fondo de imagen svg*/
#bg-green-primary{
background-color: #178a42;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%234c8531'/%3E%3Cstop offset='1' stop-color='%23178a42'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%2300104b' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2300104b' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
