
/*---------------------------------------------------estilos del carrucel----------------------------*/
/*Ubicación de las leyendas en el carrucel*/
.leyenda{
	position:absolute;
	right:5%;
	top:30%;
	text-align: center;
	color:white;
}
.leyendab2{
	position:absolute;
	left:38%;
	top:0%;
	text-align: center;
	color:#0D2B3C;
}

/*---------------------------------------*/
/*carrousel para pantallas mas pequeñas*/
@media screen and (max-width: 770px){
.leyend-mobile{
	position:relative;
	left:1%;
	color:#0D2B3C;
	padding-right: 30px;
	padding-left:30px; 
		top:20%;
}
.leyend-mobile h2{
font-size: 1.5em;
}
.leyend-mobile h5{
font-size: 1.2em;
}
.btn-carou{
	margin-bottom:15%;
}
.carousel-item img{

}

}
/*Estilo   del  boton  en  el   carrucel*/
.botonc:hover{
	background-color:red;
	width:35%;	
	border-radius:5%;
	border-color: black;
}
.botonc{
	background-color:#9e0909;
	width:35%;	
	border-radius:5%;
	border-color: black;
}
/*-------------------------------------*/
.btn-carou{
	background:#F47735; 
	font-size:15px;
	 color:#FFF; padding:13px 32px;
	  }
.btn-carou:hover{
	background:#e16c2f; 
	color:#FFF;

	 }

/*tamañe imagen---------------------------*/
.imgc{/*imagenes del carrucel*/
	width: 100%;
}
/*--------------------------------------*/


/*color de fondo del carrucel*/
.contenidoc{
background-color:#DADADC;	
/*background-color:#0D2B3C;*/

}
/*-----------------------------------*/

/*------------------------------------------------fin estios del carrucel---------------------------------------*/

