.title-page-comunidadedu{
background-image:url(../images/img-comunidad_educativa/bg-comunidad-educativa.jpg);
background-repeat: no-repeat; 
background-size: cover;
color:#ffffff;
padding: 40px 0px 40px 0px;
}


#espacio-top{
	margin-top: 30px;
}

.bg-docentes{
background-color: #143548;
}

#ul-com-edu {
  list-style: none;
  padding: 0;
   font-size: 1.2em;
}
.li-com-edu {
  padding-left: 1.3em;
}

.li-com-edu:before {
       color:#a51c30;
  content: "\f00c"; /* FontAwesome Unicode, ícono de gancho*/
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* se coloca el mismo padding por defecto que li */
  width: 1.3em; /*mismo padding left que tiene por defecvto */
}

.li-com-doce{
	 list-style: none;
	font-size:1.2em;
}
.li-com-doce:before {
       color:#a51c30;
  content: "\f00c"; /* FontAwesome Unicode, ícono de gancho*/
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* se coloca el mismo padding por defecto que li */
  width: 1.3em; /*mismo padding left que tiene por defecvto */
}
.container{
	margin-bottom: 70px;
}
h2{
	padding-bottom: 20px;
}

#fondo-cita{
background-color: #E1E1E1;
}

#fondo-cita-container{
	padding: 0 70px 0 90px;
}

#fondo-cita-container p{
color: #444444;
  font-size: 1.7em;
  font-style: italic;
  text-shadow: 0 1px white;
}


#fondo-cita-container img {
  border: 4px solid #9b5d5d;
  border-radius: 50%;
}

#fondo-cita-container span{
color:#5e5e5e;
font-size: 2em;
font-weight: 700;
letter-spacing: 1px;
text-transform: uppercase;
text-shadow: 0 1px white;
}
#comillas p:first-child:before{
	font-family: Georgia, serif;
  content: '\201C';
  color: #81bedb;
  font-size: 7.5em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top: -.4em;
  left: -.1em;
  text-shadow: none;
}

@media only screen and (max-width: 990px){
#fondo-cita-container{
	padding: 0 0px ;
}
#fondo-cita-container img {
	display: block;
margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}


#comillas p:first-child:before{
  font-size: 3.5em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top: -.4em;
  left: 0em;
  text-shadow: none;
}
#fondo-cita-container p{
  font-size: 1.2em;

}
#fondo-cita-container span{
font-size: 1.5em;

}

}
