body {
    background: rgb(255, 255, 255);
}

.Encabezado {
    background-color: #a51c30;
    margin-bottom: 30px;
    padding: 10px 0 10px 0;
    text-align: center;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}

.añoMedia {
    margin-top: 0;
}

button {
    background-color: red;
    width: 80%;
    margin: 5px 0 25px;
}

.btn {}

a {
    color: #fff;
}

table {
    border: 1px;
}

.forgot a {
    color: #fff;
}

.forgot button:hover,
.forgot button:focus {
    outline-style: none;
    color: #fff;
}

.forgot button {
    background-color: gray;
    width: 100%;
    color: white;
}

.forgot label {
    background-color: #728C3B;
    width: 24.6%;
    color: white;
}