body{
  background: #fFF;
}

.main-section{
  margin: 0 auto;
  margin-top: 130px;
  padding: 0;
}

.modal-content{
  background-color: #a51c30;
  opacity: .95;
  padding: 0 18px;
  box-shadow: 0px 0px 3px #848484;
}

.Mdal{
  background-color: #a51c30;
  
}

.modal-title{
  color: white;
}

.Please, .close{
  color: white;
}

.user-img{
  margin-top: -50px;
  margin-bottom: 25px;
  border-radius: 5px;
  
}

.user-img img{

  height: 100px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px #848484;
}

.form-group{
  margin-bottom: 25px;
}

.form-group input{
  border-radius: 5px;
  border:0;
  padding-left: 34px;
  font-size: 18px;
}

.form-group::before{
  font-family: 'Font Awesome\ 5 Free';
  content: "\f007";
  position: absolute;
  font-size: 22px;
  color: #555e60;
  left: 20px;
  padding-top: 4px;
}

.form-group:last-of-type::before {
  content: "\f023";
}

button{
  background-color: gray;
  width: 40%;
  margin: 5px 0 25px;

}

.btn{
  background-color: gray;
  font-size: 19px;
  color: #fff;
  border-radius: 7px;
  width: 100%;
}

.btn:hover, .btn:focus{
  background-color: #2591BD;
}

.svg-inline--fa{
  font-size: 18px;
  margin-right: 5px;
}

.forgot{
  padding: 5px 0 45px;

}

.forgot a{
  color: #fff;
}

