hr{
background-color: red;
}

.targeta{
	border-color: black;
	width: auto;
	height: auto;
	color: transparent;
	background: linear-gradient(#689 80% ,#598);
	color: #FFF;
	padding: 4%;
}

.targeta:hover{
	
	width: auto;
	height: auto;
	color: transparent;
	background: linear-gradient(#679 20% ,#595);
	color: #FFF;
	padding: 4%;
}

.titulo{
	color: #842;
}
.titulo:hover{
	color: #822;
}

.objetivo{

padding: 3%;
}

.compromiso{

padding: 3%;

}


.contenido_ob_programa{
	background: linear-gradient(#8685 10% ,#2959);

}

img{
	image-rendering: optimizeQuality;
}


.fila_color{
	background-color: #2543;
	
}


