body {
  font-family: 'Titillium Web', sans-serif;
}

.navbar-brand {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}

#testimonial {
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top: 40px;
}

.espacioContenido{
	margin: 5px 5px 5px 5px;
}
