
hr{/*lineas hr entre secciones de color rojo*/
	background-color: red;
}


.img_b{
	/*efecto a imagen para que no aparesca*/
	display: none;
}

.titulo_list{
	/* color de titulo del menu de secciones*/
	color: #822;	
	 
}

.list-group-item {
	/*color de item en lista menu lateral*/
background-color: #8224;
}


.list-group-item-text{
/*color de texto en lista del menu lateral*/
color: #319;
font-size: 18px;
}


.fila_color{
	/*color de fondo de las fila en contenido*/
	background-color: #2543;
	
}


/*efecto para cambiar imagen en fila para que cambie (aparece una se oculta la otra)*/ 
@media only screen and (max-width: 1200px){

.img_a{
	display: none;
}
.img_b{
	display:unset;
}

	}