/*==========contenido===========*/

.fondo_seccion_primary{
background-color: #E1E1E1;
padding: 30px 0 30px 0;
}

.fondo_seccion_secondary{
background-color: #F5F5F5;
padding: 30px 0 30px 0;
}
.text-style h2{
border-bottom: 4px solid #A51C30;
}

.icons-centrados{
position: relative;
text-align: left;
	margin-top: 20px;
}
.icono-contenedor{

position: absolute;
top: 0;
bottom: 0;
left: 0;

color:#A51C30;
text-align: center;
}
.texto-contenedor{

margin-left: 70px;
}



/*========== cambia el tamaño de texto en resoluciones menores ===========*/
@media screen and (max-width: 768px){
	.text-section-title{
		font-size: 1.5em;
		text-align: center;
	}
	.text-secondary-title{
		font-size: 1.2em;
	}	
}



.img-tamano1{
width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
