.form_admin{
	background-color: #9a1c2d;
	color: white;
	text-align: center;

	border-style: outset;
	border-color: #9a1c2d;
	border-width: 5px;


}

.borde_admin{
	border-style: outset;
	border-color: #9a1c2d;
	border-width: 5px;
	padding: 1%;
}

.legend_admin{
	border-left: 6px solid #9a1c2d;
  	background-color: lightgrey;
}